n8n/security/security-headers-audit.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Security Headers Verification Audit\n\nThis workflow audits websites for critical security headers:\n\n🔒 **Headers Checked:**\n- Strict-Transport-Security (HSTS)\n- Content-Security-Policy (CSP)\n- X-Frame-Options (Clickjacking)\n- X-Content-Type-Options (MIME sniffing)\n- Referrer-Policy (Info leakage)\n- Permissions-Policy (Feature control)\n- Cache-Control (Auth page caching)\n\n📊 **Process:**\n1. Input URLs to audit\n2. HTTP HEAD request to each URL\n3. Evaluate header presence & strength\n4. Generate security score & report\n5. Export findings to Google Sheets\n6. Send alert email for critical issues",
        "height": 476,
        "width": 520,
        "color": 6
      },
      "id": "a2d55de4-a6be-41d4-b80a-84336654fe28",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "⚙️ **Configuration Required:**\n\n1. **Input URLs**: Modify 'URL List' node with target domains\n2. **Google Sheets**: \n   - Create a new spreadsheet for audit results\n   - Add Google Sheets credentials\n   - Update spreadsheet ID in 'Export to Sheets' node\n3. **Email Alerts**: \n   - Add Gmail/SMTP credentials for notifications\n   - Configure recipient emails in 'Send Alert' node\n4. **Scheduling**: \n   - Enable 'Security Audit Trigger' for automated runs\n   - Set desired frequency (daily/weekly recommended)\n\n🔍 **Customization:**\n- Adjust security scoring thresholds in 'Evaluate Headers' node\n- Modify alert criteria in 'Check Critical Issues' node\n- Add custom headers to check in HTTP request evaluation",
        "height": 448,
        "width": 580,
        "color": 3
      },
      "id": "152de1a5-9424-45c6-8d32-423351bfcee6",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urls-to-audit",
              "name": "urlsToAudit",
              "type": "string",
              "value": "https://llanai.com"
            },
            {
              "id": "audit-timestamp",
              "name": "auditTimestamp",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f957125-6c40-412a-9b4a-4f64b790e658",
      "name": "URL List",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.urlsToAudit }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "f8edc393-fee8-4fe8-93d1-f451b32ab4ef",
      "name": "Fetch Headers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        576,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const {urlsToAudit: url, headers = {}, auditTimestamp: timestamp} = $input.first().json;\nconst h = Object.fromEntries(Object.entries(headers).map(([k,v]) => [k.toLowerCase(), v]));\n\nconst checks = ['strict-transport-security','content-security-policy','x-frame-options','x-content-type-options','referrer-policy','permissions-policy','cache-control'];\nconst securityChecks = Object.fromEntries(checks.map(name => [name, {present: !!h[name], value: h[name] || null, score: 0, issues: []}]));\n\n// HSTS\nconst hsts = securityChecks['strict-transport-security'];\nif (hsts.present) {\n  const val = h['strict-transport-security'];\n  const maxAge = val.match(/max-age=(\\d+)/);\n  hsts.score = maxAge && parseInt(maxAge[1]) >= 31536000 ? 10 : 7;\n  if (hsts.score === 7) hsts.issues.push('max-age less than 1 year');\n  if (val.includes('includeSubDomains')) hsts.score += 2;\n  if (val.includes('preload')) hsts.score += 1;\n} else hsts.issues.push('HSTS header missing - vulnerable to downgrade attacks');\n\n// CSP\nconst csp = securityChecks['content-security-policy'];\nif (csp.present) {\n  const val = h['content-security-policy'];\n  csp.score = 8;\n  if (val.includes(\"'unsafe-eval'\")) { csp.score -= 3; csp.issues.push('unsafe-eval allows dangerous script execution'); }\n  if (val.includes(\"'unsafe-inline'\")) { csp.score -= 2; csp.issues.push('unsafe-inline reduces XSS protection'); }\n  if (val.includes('*') && !val.includes('data:')) { csp.score -= 2; csp.issues.push('wildcard (*) directive too permissive'); }\n} else csp.issues.push('CSP header missing - vulnerable to XSS attacks');\n\n// X-Frame-Options\nconst xfo = securityChecks['x-frame-options'];\nif (xfo.present) {\n  const val = h['x-frame-options'].toLowerCase();\n  xfo.score = val === 'deny' ? 10 : val === 'sameorigin' ? 8 : 5;\n  if (xfo.score === 5) xfo.issues.push('ALLOW-FROM directive is deprecated');\n} else xfo.issues.push('X-Frame-Options missing - vulnerable to clickjacking');\n\n// X-Content-Type-Options\nconst xcto = securityChecks['x-content-type-options'];\nif (xcto.present) {\n  xcto.score = h['x-content-type-options'].toLowerCase() === 'nosniff' ? 10 : 5;\n  if (xcto.score === 5) xcto.issues.push('Invalid value - should be \"nosniff\"');\n} else xcto.issues.push('X-Content-Type-Options missing - vulnerable to MIME sniffing');\n\n// Referrer-Policy\nconst rp = securityChecks['referrer-policy'];\nif (rp.present) {\n  const val = h['referrer-policy'].toLowerCase();\n  const strongPolicies = ['no-referrer', 'strict-origin', 'strict-origin-when-cross-origin'];\n  rp.score = strongPolicies.includes(val) ? 10 : ['same-origin', 'origin'].includes(val) ? 7 : 4;\n  if (rp.score === 4) rp.issues.push('Weak referrer policy - potential information leakage');\n} else rp.issues.push('Referrer-Policy missing - may leak sensitive URLs');\n\n// Permissions-Policy\nconst pp = securityChecks['permissions-policy'];\nif (pp.present) {\n  pp.score = 8;\n  const val = h['permissions-policy'];\n  if (!val.includes('camera') || !val.includes('microphone')) pp.issues.push('Consider restricting camera/microphone access');\n} else pp.issues.push('Permissions-Policy missing - no feature access control');\n\n// Cache-Control\nconst cc = securityChecks['cache-control'];\nconst isAuthPage = url && (url.includes('login') || url.includes('auth') || url.includes('admin'));\nif (cc.present) {\n  const val = h['cache-control'].toLowerCase();\n  if (isAuthPage) {\n    cc.score = val.includes('no-cache') || val.includes('no-store') ? 10 : 3;\n    if (cc.score === 3) cc.issues.push('Authentication pages should not be cached');\n  } else cc.score = 7;\n} else {\n  cc.issues.push(isAuthPage ? 'CRITICAL: Authentication page missing Cache-Control' : 'Cache-Control header missing');\n}\n\nconst actualScore = Object.values(securityChecks).reduce((sum, check) => sum + check.score, 0);\nconst securityScorePercentage = Math.round((actualScore / 70) * 100);\nconst grades = [90, 80, 70, 60];\nconst securityGrade = ['A', 'B', 'C', 'D', 'F'][grades.findIndex(g => securityScorePercentage >= g) + 1] || 'A';\n\nconst allIssues = Object.entries(securityChecks).flatMap(([header, check]) => \n  check.issues.map(issue => ({\n    header,\n    severity: ['strict-transport-security', 'content-security-policy'].includes(header) ? 'HIGH' : \n             ['x-frame-options', 'x-content-type-options'].includes(header) ? 'MEDIUM' : 'LOW',\n    issue\n  }))\n);\n\nconst criticalIssues = allIssues.filter(issue => issue.severity === 'HIGH' || (issue.header === 'cache-control' && issue.issue.includes('CRITICAL')));\n\nreturn [{json: {url, timestamp, securityScore: securityScorePercentage, securityGrade, actualScore, maxPossibleScore: 70, headers: securityChecks, issues: allIssues, criticalIssues, hasCriticalIssues: criticalIssues.length > 0}}];"
      },
      "id": "caecd288-83b3-40e5-b6bd-dd4e65298d1e",
      "name": "Evaluate Headers",
      "type": "n8n-nodes-base.code",
      "position": [
        768,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "Timestamp",
              "type": "string",
              "value": "={{ $('URL List').item.json.auditTimestamp }}"
            },
            {
              "id": "url",
              "name": "URL",
              "type": "string",
              "value": "={{ $('URL List').item.json.urlsToAudit }}"
            },
            {
              "id": "security-grade",
              "name": "Security Grade",
              "type": "string",
              "value": "={{ $json.securityGrade }}"
            },
            {
              "id": "security-score",
              "name": "Security Score (%)",
              "type": "number",
              "value": "={{ $json.securityScore }}"
            },
            {
              "id": "raw-score",
              "name": "Raw Score",
              "type": "string",
              "value": "={{ $json.actualScore + '/' + $json.maxPossibleScore }}"
            },
            {
              "id": "hsts",
              "name": "HSTS",
              "type": "string",
              "value": "={{ $json.headers['strict-transport-security'].present ? '✓' : '✗' }}"
            },
            {
              "id": "csp",
              "name": "CSP",
              "type": "string",
              "value": "={{ $json.headers['content-security-policy'].present ? '✓' : '✗' }}"
            },
            {
              "id": "xfo",
              "name": "X-Frame-Options",
              "type": "string",
              "value": "={{ $json.headers['x-frame-options'].present ? '✓' : '✗' }}"
            },
            {
              "id": "xcto",
              "name": "X-Content-Type-Options",
              "type": "string",
              "value": "={{ $json.headers['x-content-type-options'].present ? '✓' : '✗' }}"
            },
            {
              "id": "rp",
              "name": "Referrer-Policy",
              "type": "string",
              "value": "={{ $json.headers['referrer-policy'].present ? '✓' : '✗' }}"
            },
            {
              "id": "pp",
              "name": "Permissions-Policy",
              "type": "string",
              "value": "={{ $json.headers['permissions-policy'].present ? '✓' : '✗' }}"
            },
            {
              "id": "cc",
              "name": "Cache-Control",
              "type": "string",
              "value": "={{ $json.headers['cache-control'].present ? '✓' : '✗' }}"
            },
            {
              "id": "total-issues",
              "name": "Total Issues",
              "type": "number",
              "value": "={{ $json.issues.length }}"
            },
            {
              "id": "critical-issues",
              "name": "Critical Issues",
              "type": "number",
              "value": "={{ $json.criticalIssues.length }}"
            },
            {
              "id": "issue-summary",
              "name": "Issue Summary",
              "type": "string",
              "value": "={{ $json.issues.length > 0 ? $json.issues.map(issue => '[' + issue.severity + '] ' + issue.header.toUpperCase() + ': ' + issue.issue).join(' | ') : 'No issues found' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a4a8533-5100-448a-8c52-556521f84601",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "position": [
        1184,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1m6C7qa-zGFSo6sFDj8KEgEMO-Ydi8fUv_EJqgSQDfOs",
          "mode": "list",
          "cachedResultName": "Security",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m6C7qa-zGFSo6sFDj8KEgEMO-Ydi8fUv_EJqgSQDfOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Security Headers Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m6C7qa-zGFSo6sFDj8KEgEMO-Ydi8fUv_EJqgSQDfOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Security Grade",
              "displayName": "Security Grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Security Score (%)",
              "displayName": "Security Score (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Raw Score",
              "displayName": "Raw Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HSTS",
              "displayName": "HSTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CSP",
              "displayName": "CSP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "X-Frame-Options",
              "displayName": "X-Frame-Options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "X-Content-Type-Options",
              "displayName": "X-Content-Type-Options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referrer-Policy",
              "displayName": "Referrer-Policy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Permissions-Policy",
              "displayName": "Permissions-Policy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cache-Control",
              "displayName": "Cache-Control",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Issues",
              "displayName": "Total Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Critical Issues",
              "displayName": "Critical Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue Summary",
              "displayName": "Issue Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "d1d680e9-5c58-433a-ae03-fb2ce7f5e28e",
      "name": "Export to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1376,
        144
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QX4RxeMUesSFppha",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Security Headers Audit HTML Email Template Generator\n// Fixed to use evaluation data directly and generate header status\n\n// Extract data from the correct nodes - since this runs after the If node\nconst evaluationData = $('Evaluate Headers').first()?.json || {};\nconst urlData = $('URL List').first()?.json || {};\n\n// Debug: log the actual data structure\nconsole.log('Evaluation data keys:', Object.keys(evaluationData));\nconsole.log('Headers data:', evaluationData.headers);\n\nconst url = urlData.urlsToAudit || 'Unknown URL';\nconst timestamp = urlData.auditTimestamp || 'Unknown';\nconst detailedIssues = evaluationData.issues || [];\nconst criticalIssuesList = evaluationData.criticalIssues || [];\nconst grade = evaluationData.securityGrade || 'F';\nconst score = Math.round(evaluationData.securityScore || 0);\nconst headersData = evaluationData.headers || {};\n\n// Color schemes and configurations\nconst colors = {\n  grade: { A: '#38a169', B: '#68d391', C: '#f6ad55', D: '#fc8181', F: '#e53e3e' },\n  severity: { HIGH: '#e53e3e', MEDIUM: '#dd6b20', LOW: '#38a169' },\n  status: { present: '#38a169', missing: '#e53e3e' }\n};\n\n// Headers configuration for dynamic generation\nconst headers = [\n  { key: 'strict-transport-security', name: 'HSTS (Strict-Transport-Security)' },\n  { key: 'content-security-policy', name: 'CSP (Content-Security-Policy)' },\n  { key: 'x-frame-options', name: 'X-Frame-Options' },\n  { key: 'x-content-type-options', name: 'X-Content-Type-Options' },\n  { key: 'referrer-policy', name: 'Referrer-Policy' },\n  { key: 'permissions-policy', name: 'Permissions-Policy' },\n  { key: 'cache-control', name: 'Cache-Control' }\n];\n\n// Elegant helper functions\nconst formatGrade = g => `<span style=\"color: ${colors.grade[g] || '#718096'}; font-weight: bold; font-size: 24px;\">${g}</span>`;\n\nconst formatStatus = (isPresent, name) => {\n  const color = colors.status[isPresent ? 'present' : 'missing'];\n  const symbol = isPresent ? '✓' : '✗';\n  return `<span style=\"color: ${color}; font-weight: bold;\">${symbol} ${name}</span>`;\n};\n\nconst formatIssue = ({ severity, header, issue }) => \n  `<div style=\"margin: 8px 0; padding: 8px; border-left: 3px solid ${colors.severity[severity]}; background: #f8f9fa;\">\n    <strong style=\"color: ${colors.severity[severity]};\">[${severity}] ${header.toUpperCase()}</strong><br>${issue}\n  </div>`;\n\n// Generate header grid dynamically using headers data structure\nconst headerGrid = headers.map(({ key, name }) => {\n  const isPresent = headersData[key] && headersData[key].present;\n  console.log(`Header ${key} present:`, isPresent);\n  return `<div class=\"header-item\">${formatStatus(isPresent, name)}</div>`;\n}).join('');\n\n// Generate issues section\nconst issuesSection = detailedIssues.length > 0 ? \n  `<div class=\"issues-section\">\n    <h3>🚨 Issues Detected</h3>\n    <p><strong>Immediate action required!</strong></p>\n    ${detailedIssues.map(formatIssue).join('')}\n  </div>` :\n  `<div style=\"background: #d4edda; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #38a169;\">\n    <h3 style=\"color: #38a169;\">✅ No Issues Detected</h3>\n    <p>All security headers are properly configured!</p>\n  </div>`;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Security Headers Audit Report</title>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: #1a202c; color: white; padding: 20px; border-radius: 8px; text-align: center; }\n    .score-section { background: #f7fafc; padding: 20px; border-radius: 8px; margin: 20px 0; text-align: center; }\n    .headers-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 10px; margin: 20px 0; }\n    .header-item { padding: 10px; border: 1px solid #e2e8f0; border-radius: 4px; background: #f8f9fa; }\n    .issues-section { background: #fed7d7; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #e53e3e; }\n    .footer { text-align: center; padding: 20px; color: #718096; font-size: 14px; }\n    .critical { color: #e53e3e; font-weight: bold; }\n    .warning { color: #dd6b20; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🔒 Security Headers Audit Report</h1>\n    <p>${detailedIssues.length > 0 ? 'Critical security vulnerabilities detected' : 'Security audit completed'}</p>\n  </div>\n\n  <div class=\"score-section\">\n    <h2>Security Grade: ${formatGrade(grade)}</h2>\n    <p><strong>Score:</strong> ${score}%</p>\n    <p><strong>URL:</strong> ${url}</p>\n    <p><strong>Audit Time:</strong> ${timestamp}</p>\n  </div>\n\n  <h3>📊 Security Headers Status</h3>\n  <div class=\"headers-grid\">\n    ${headerGrid}\n  </div>\n\n  ${issuesSection}\n\n  <div style=\"background: #e6fffa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <h3>🛠️ Next Steps</h3>\n    <ul>\n      <li>Review and implement missing security headers</li>\n      <li>Test changes in a staging environment first</li>\n      <li>Monitor for any application issues after implementation</li>\n      <li>Schedule regular security header audits</li>\n    </ul>\n  </div>\n\n  <div class=\"footer\">\n    <p>Made by <a href=\"https://github.com/aristidesnakos/automations\">Ari Nakos</a> - Check the Github repo for more n8n automations</p>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { email_html: html, email_subject: `🚨 Security Alert: ${grade} Grade - ${url}` } }];"
      },
      "id": "08e05e09-e3f6-4efe-a1e2-8f441ce9ccd9",
      "name": "HTML Email Template",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "ari@llanai.com",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "bodyContentType": "html"
        }
      },
      "id": "840b5fda-7028-4606-96a8-8010c1711cb3",
      "name": "Send Alert",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1376,
        336
      ],
      "typeVersion": 2.1,
      "webhookId": "747db1cd-d99a-4cd9-b8c4-d10e3e50b4c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Pv2QxtQyMGv0Naam",
          "name": "Auspicious Gmail"
        }
      }
    },
    {
      "parameters": {},
      "id": "9eb334be-0486-4090-82b5-e06b415503af",
      "name": "Audit Complete",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1552,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        144
      ],
      "id": "ec460cb1-e36f-4c5a-a9e8-82daaef8df91",
      "name": "Start Audit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69be5ca0-6baf-4365-bd60-bcef7c40124e",
              "leftValue": "={{ $json.actualScore }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        336
      ],
      "id": "0a50654a-6fc1-4e25-8ab4-45788fee06fc",
      "name": "If"
    }
  ],
  "connections": {
    "URL List": {
      "main": [
        [
          {
            "node": "Fetch Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Headers": {
      "main": [
        [
          {
            "node": "Evaluate Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Headers": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Export to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to Sheets": {
      "main": [
        [
          {
            "node": "Audit Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Email Template": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Audit": {
      "main": [
        [
          {
            "node": "URL List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b9aff0ecdeb17791c04b93eac72e39e69151cfa63708980e5d936abe9308b8c"
  }
}